---
import { getCollection } from "astro:content";
import Text from "@components/core/text";
import BlogCard from "@components/core/blog-card.astro";
import { pageBounds } from "@styles/page";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.getMilliseconds() - a.data.date.getMilliseconds(),
);

// class="hide-for-me "
---

<div class={`${pageBounds} pt-8 px-4`}>
  <Text.H2>Check out my blog</Text.H2>

  <div
    class={`flex flex-col md:flex-row gap-4 
[&>*:nth-child(-n+2)]:block
md:[&>*:nth-child(-n+3)]:block
`}
  >
    {
      posts.map((post) => (
        <div class="hidden h-full">
          <BlogCard
            title={post.data.title}
            description={post.data.description}
            href={`/blog/${post.slug}`}
            publishedDate={post.data.date}
          />
        </div>
      ))
    }
  </div>
</div>

<style>
  .hide-for-me {
    display: none;
  }

  .hide-for-me:nth-child(n + 0):nth-child(-n + 2) {
    display: flex;
  }
</style>
